<h1>Please amend the details in the form below then hit the "Save changes" button.</h1>

<form  action="/members/<%= @member.id %>" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name" value="<%= @member.first_name %>">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name" value="<%=@member.last_name %>">

  <label for="type_field">Membership Type:</label>
  <select name="type" id="type_field" value="<%= @member.type %>">
    <option value="standard">Standard</option>
    <option value="off-peak">Off-Peak</option>
  </select>

  <input type="submit" value="Save changes">
</form>
