<h1>Members</h1>

<h3>
  <a href="/members/new">Create New Member</a>
</h3>

<hr>
<% for member in @members %>
  <p><%= member.first_name %> <%= member.last_name %> (<%= member.id %>)</p>

  <p><a href="/members/<%= member.id %>">View member's details</a></p>

  <hr>
<% end %>
