<h1>Please enter the details in the form below then hit the "Save new member" button to create a new member.</h1>

<form  action="/members" method="post">
  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name">

  <input type="submit" value="Save new member">
</form>
