<h1>Make a Booking - Step 1, choose member</h1>

<h3>Please choose the member using the drop-down box then click on the "Choose member for booking" button. The class will be selected in Step 2.</h3>

<form action="/bookings/new/step2" method="get">

  <label for="member-field">Member:</label>
  <select name="id" id="member-field">
    <% for member in @members %>
      <option value="<%= member.id %>"><%= "#{member.first_name} #{member.last_name}" %></option>
    <% end %>
  </select>



  <input type="submit" value="Choose member for booking">
</form>
