<form action="/gym_classes" method="post">
  <label for="class-name-field">Class name:</label>
  <input type="text" name="name" id="class-name-field">

  <label for="class-time-field">Class Time:</label>
  <input type="time" name="class_time" id="class-time-field">

  <label for="class-date-field">Class Date:</label>
  <input type="date" name="class_date" id="class-date-field" min="<%= @date_today %>">

  <input type="submit" value="Save new class">
</form>
